.btn-sub1 {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: white;

}
.btn-sub1:hover {
    background-color: transparent;
    border-color: var(--yellow);
    color: var(--yellow);
}

.btn-sub1:active {
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
    color: white;
}
.feature img{
    height: 100px;
    width: 100px;
}